<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
      <p>Puppy Name:</p>
      <p><%=@newpuppy.name%></p>
      <p>Age:</p>
      <p><%=@newpuppy.age%></p>
      <p>Breed:</p>
      <p><%=@newpuppy.breed%></p>
  </body>
</html>
