<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
      <h1>Puppy Name:<h2><%= @newpuppy.name %></h2></h1>
      <h1>Puppy Age:<h2><%= @newpuppy.age %></h2></h1>
      <h1>Puppy Breed:<h2><%= @newpuppy.breed %></h2></h1>
  </body>
</html>
